/*import*/

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

/*Navbar*/
/*Parametre marge auto*/
body {
    margin-top: 0 auto;
    margin: 0 auto;
}

/*Parametre Nav color and largeur*/
header {
    height: 70px;
    background-color: #FF9E2B;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

/*Parametre Navbar txt and lien and transition*/

BMG {
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

ul {
    width: auto;
    float: right;
    margin-top: 5px;
    padding-top: 5px;
}

li {
    display: inline-block;
    padding: 15px 30px;
}


a.test {
    text-align: center;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vw;
    color: white;
    font-size: 100%;
    font-weight: bold;
}

a:hover {
    color: #F0c330;
    transition: 0.5s;
}

/* Title page*/

section.Backgroudconctact {
    margin-top: 0px;
    display: flex;
    background-color: white;
    width: 100%;
    background-size: cover;
    height: 700px;
}

Titlte_Page {
    position: absolute;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 30px;
    font-size: 100%;
}

SousTitle_Page {
    position: absolute;
    text-align: center;
    font-family: 'Rokkitt', serif;
    font-size: 80%;
    padding-top: 130px;
    padding-left: 15%;
    padding-right: 15%
}

/*logo reseau sociau*/

section.SN_logo {
    position: absolute;
    display: flex;
    padding-top: 300px;
    height: 91%;
    width: 90%;
    align-content: center;
    justify-content: center;
}

.test404 {
    display: flex;
    align-content: center;
}


.logodiv1 {
    margin-left: 0%;
}

.logodiv2 {
    margin-left: 0%;
}

.logodiv2 {
    margin-left: 10%;
}

.logodiv3 {
    margin-left: 10%;
}


.logodiv4 {
    margin-left: 10%;

}

/*Mail text*/

txt_mail {
    position: absolute;
    text-align: center;
    font-family: 'Rokkitt', serif;
    padding-top: 550px;
    font-size: 110%;
    padding-left: 40%;
    padding-right: 35%;
    
}

/*Fin de page*/

footer {
    display: flex;
    align-items: center;
    margin: 5px 40%;
    font-size: 150%;
}